<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My itinerary</title>
        <link rel="stylesheet" href="../public/assets/homepage.css">
        <link rel="stylesheet" href="../public/assets/navbar.css">
    </head>
    <body>
        
        <div class="navbar">
            <ul>
                <li><a href="landing.html">Home</a></li>
                <li><a href="itenerary.html">Itenerary</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Account</a></li>
            </ul>
        </div>

        <div class="container">
            <!-- CHANGE ACTION LATER -->
            <form action="https://www.google.com/search" method="get" class="search-bar">
                <input type="text" placeholder="search anything" name="q">
                <button type="submit"><img src="../public/assets/images/search.png"></button>
            </form>
            <div id="title">Most Popular</div>
            <div class="wrapper">
                <div class="card">
                    <div class="card-header">
                      <img src="../public/assets/images/tokyo.jpg" alt="rover" />
                    </div>
                    <div class="card-body">
                      <span class="tag tag-teal">Japan</span>
                      <h2>
                        Why is Chaney so gay?
                      </h2>
                      <p>
                        An exploration into Chaney's mind
                      </p>
                      <h5>
                        4.2 &#9733 &#9733 &#9733 &#9733;
                      </h5>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <img src="https://www.newsbtc.com/wp-content/uploads/2020/06/mesut-kaya-LcCdl__-kO0-unsplash-scaled.jpg" alt="ballons" />
                    </div>
                    <div class="card-body">
                      <span class="tag tag-purple">United States</span>
                      <h2>
                        California
                      </h2>
                      <p>
                        ur mother
                      </p>
                      <h5>
                        4.2 &#9733 &#9733 &#9733 &#9733;
                      </h5>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <img src="https://images6.alphacoders.com/312/thumb-1920-312773.jpg" alt="city" />
                    </div>
                    <div class="card-body">
                      <span class="tag tag-pink">Korea</span>
                      <h2>
                        Seoul
                      </h2>
                      <p>
                        kpop and bhop
                      </p>
                      <h5>
                        4.2 &#9733 &#9733 &#9733 &#9733;
                      </h5>
                    </div>
            </div>
        </div>
    </body>
</html>
