<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My itinerary</title>
        <link rel="stylesheet" href="../public/assets/homepage.css">
        <link rel="stylesheet" href="../public/assets/navbar.css">
    </head>
    <body>
        
        <div class="navbar">
            <ul>
                <li><a href="landing.html">Home</a></li>
                <li><a href="itenerary.html">Itenerary</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="blog.html">Account</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>

        <div class="container">
            <!-- CHANGE ACTION LATER -->
            <form action="https://www.google.com/search" method="get" class="search-bar">
                <input type="text" placeholder="search anything" name="q">
                <button type="submit"><img src="../public/assets/images/search.png"></button>
            </form>
            <div class="wrapper">
                <div>
                    POP 1
                </div>
                <div>
                    POP 1
                </div>
                <div>
                    POP 1
                </div>
                <div>
                    POP 1
                </div>
                <div>
                    POP 1
                </div>
                <div>
                    POP 1
                </div>
            </div>
        </div>
    </body>
</html>