<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Itinerary</title>
        <link rel="stylesheet" href="../public/assets/view.css">
        <link rel="stylesheet" href="../public/assets/navbar.css">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li><a href="landing.html">Home</a></li>
                <li><a href="itinerary.ejs">Itenerary</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Account</a></li>
            </ul>
        </div>
        
        <div class="container">
            <div class="titletext">
                <h1>
                    Best Japan Itinerary
                </h1>
                <h2>
                    Jeff Hwang
                </h2>
            </div>
            <div class="activities">
                <div class="product">
                    <div class="product-details">
                        <h2>Watch a Geisha Dance</h2>
                        <p> Geishas are one of the most fascinating aspects of Japan, especially if you've read Arthur Golden's popular novel Memoirs of a Geisha about these highly-skilled women who entertain using traditional arts. </p>
                    </div>
            
                    <div class="product-image">
                        <img src="https://images.rove.me/w_1920,q_85/fvf5vxk154jbqoffaii6/kyoto-geisha-dances.jpg" alt="">
                    </div>

                </div>
                <div class="product">
                    <div class="product-details">
                        <h2>See Sumo Wrestlers in Action</h2>
                        <p> Sumo is serious in Japan and the national sport is steeped in tradition. Matches still include rituals that date back to its ancient origins as part of the Shinto religion such as purifying the ring with salt.</p>
                    </div>
            
                    <div class="product-image">
                        <img src="https://www.japan-guide.com/g21/2080_02.jpg" alt="">
                    </div>
                    
                </div>
                <div class="product">
                    <div class="product-details">
                        <h2>Yakumo Saryo</h2>
                        <p> For a rejuvenating start to the day indulge with a Japanese breakfast at Yakumo Soryo. Designed by architect Shinichiro Ogata, the teahouse is a tranquil space offering a morning of peace and mindfulness. </p>
                    </div>
            
                    <div class="product-image">
                        <img src="https://www.spoon-tamago.com/wp-content/uploads/2015/10/yakumo-saryo-2.jpg" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>


